<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

   <header th:fragment="header">
      
      <div id="header_wrap">
         <a th:href="@{/}">Organizer Service Admin Mode</a> &nbsp;&nbsp;
      </div>
   </header>
   
   <nav th:fragment="nav">

      <div id="nav_wrap" th:unless="${#authentication != null and #authorization.expression('isAuthenticated()')}">
          <a th:href="@{/}">HOME</a> &nbsp;&nbsp;
         <a th:href="@{/admin/adminSignUp}">SIGN-UP</a> &nbsp;&nbsp;
         <a th:href="@{/admin/adminSignIn}">SIGN-IN</a> &nbsp;&nbsp;
      </div>
      
      <div id="nav_wrap" th:if="${#authentication != null and #authorization.expression('isAuthenticated()')}">
          <a th:href="@{/}">HOME</a> &nbsp;&nbsp;
         <a th:href="@{/admin/adminModify}">MODIFY</a> &nbsp;&nbsp;
         <a th:href="@{/admin/adminSignOutConfirm}">SIGN-OUT</a> &nbsp;&nbsp;
         <a th:href="@{/admin/adminList}">ADMIN-LIST</a> &nbsp;&nbsp;
         <a th:href="@{/member/memberList}">MEMBER-LIST</a> &nbsp;&nbsp;
      </div>
      
   </nav>
   
   <footer th:fragment="footer">
      <div id="footer_wrap">
         Copyright ©OFFICE Corp. All Rights Reserved.
      </div>
   </footer>
   
</html>